body {
    color: white;
    background: #111;
}
header { background: rgb(44, 125, 218, 0.9); }
.title, .since { color: black; }
.contents_container { background: black; }
#target {
    background: transparent;
    color: white;
}
.regex_container {
    border-color: gray;
    background: black;
}
.regex_container:has(#display:hover) {
    border-color: silver;
}
.regex_container:has(#display:focus, .flags:hover) {
    border-color: white;
}
:hover + #display{ border-color: gray; }
:focus + #display { border-color: white; }
#display::placeholder { color: silver; }
.flags .flag { color: gray; }
.flag:hover { color: silver; }
.flag:has(+ :checked) { color: white; }
.results { border-color: gray; }
:disabled { color: white; }
